* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.hidden {
  display: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.column {
  flex-direction: column;
}

form {
  background-color: rgb(217, 217, 217);
  padding: 2rem;
  margin: 2rem;
  border-radius: 10px;
}

button {
  margin: 1rem;
}

/* :root {
  --one: rgb(37, 40, 49);
  --two: rgb(142, 150, 179);
}

:root.light {
  --one: rgb(142, 150, 179);
  --two: rgb(37, 40, 49);
} 

 body {
  background-color: var(--one); 
  height: 100vh;
  width: 100vw;
} 

 h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--one);
}*/
